<?xml version="1.0"?>
<model>
  <name>3DR Iris with lidar and IRLock</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_irlock.sdf</sdf>

  <author>
   <name>Daniel Agar</name>
   <email>daniel@agar.ca</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with lidar and IRLock sensors. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier. The sensors have been created by Christoph Tobler and Daniel Agar, respectively.
  </description>
</model>