<?xml version="1.0"?>
<model>
  <name>3DR Iris with depth camera and downward-facing Lidar</name>
  <version>1.0</version>
  <sdf version='1.0'>iris_depth_camera_downward_lidar.sdf</sdf>

  <author>
   <name>Daniel Mesham</name>
   <email>daniel@auterion.com</email>
  </author>

  <description>
    A model of the 3DR Iris Quadrotor with a forward-facing depth camera and a downward-facing Lidar.
  </description>
</model>
