<?xml version="1.0"?>
<model>
  <name>Standard VTOL</name>
  <version>1.0</version>
  <sdf version='1.4'>standard_vtol_ctrlalloc.sdf</sdf>

  <author>
   <name>Julian Oes</name>
   <email>julian@oes.ch</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane using control allocation.
  </description>
</model>
