<?xml version="1.0"?>

<model>
  <name>foggy_lidar</name>
  <version>1.0</version>
  <sdf>foggy_lidar.sdf</sdf>

  <author>
    <name>David Jablonski</name>
    <email>dayjaby@gmail.com</email>
  </author>

  <description>
		This lidar simulates a foggy environment with an average distance measurement of 2m and a standard deviation of 1.
  </description>
</model>

<!-- vim: set noet fenc= ff=unix sts=0 sw=2 ts=2 : -->
