<?xml version="1.0"?>
<model>
  <name>hippocampus</name>
  <version>1.0</version>
  <sdf version='1.5'>hippocampus.sdf</sdf>

  <author>
   <name>Nils Rottmann</name>
   <email>Nils.Rottmann@tuhh.de</email>
  </author>

  <description>
    This is a model of a HippoCampus AUV from TUHH.
  </description>
</model>
