<?xml version="1.0"?>
<model>
  <name>3DR Iris for RTPS/DDS interfacing</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_rtps.sdf</sdf>

  <author>
    <name>Nuno Marques</name>
    <email>nuno.marques@dronesolutions.io</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor for usage in RTPS/DDS comms.
  </description>

  <!-- TODO Add RTPS/DDS interface plugin -->
</model>
