<?xml version="1.0"?>
<model>
  <name>sentaero6</name>
  <version>1.0</version>
  <sdf version="1.4">sentaero6_prod.sdf</sdf>
  
  <author>
    <name>Censys Technologies</name>
    <email>leonsernasebastian@censystech.com</email>
  </author>
  
  <description>Sentaero 6 with PX4 SITL</description>
</model>
