<?xml version="1.0"?>
<model>
  <name>Standard VTOL drop</name>
  <version>1.0</version>
  <sdf version='1.4'>standard_vtol_drop.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jalim@ethz.ch</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane.
  </description>
</model>
