<?xml version="1.0"?>
<model>
  <name>if750a</name>
  <version>1.0</version>
  <sdf version='1.4'>if750a.sdf</sdf>

  <author>
   <name>Nico van Duijn</name>
   <email>nico@auterion.com</email>
  </author>

  <description>
    This is a model of the InspiredFlight 750 Auterion edition. The original model has been created by
    Lorenz Meier and InspiredFlight. It is maintained by Auterion.
  </description>
</model>
