<?xml version="1.0"?>
<model>
  <name>Soaring Plane</name>
  <version>1.0</version>
  <sdf version='1.5'>plane_soaring.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jaeyoung@auterion.com</email>
  </author>

  <description>
    This is a model of a standard plane.
  </description>
</model>
