<?xml version="1.0"?>

<model>
  <name>BlueROV 2 Heavy</name>
  <version>1.0</version>
  <sdf version="1.6">uuv_bluerov2_heavy.sdf</sdf>

  <author>
    <name>Thies Lennart Alff</name>
    <email>thies.lennart.alff@tuhh.de</email>
  </author>

  <description>
    Model of the BlueROV2 in heavy configuration with 8 thrusters.
  </description>

</model>
