<?xml version="1.0" ?>
<model>
    <name>ROS vision camera</name>
    <version>1.0</version>
    <sdf version="1.6">vision_cam.sdf</sdf>
    <author>
        <name>Elia Tarasov</name>
        <email>elias.tarasov@gmail.com</email>
    </author>
    <description>This model simulates camera to be used by vision odometry plugin in case of build with ROS support</description>
</model>
