<?xml version="1.0"?>
<model>
  <name>iris_hitl</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_hitl.sdf</sdf>

  <author>
   <name>Benjamin Perseghetti</name>
   <email>bperseghetti@rudislabs.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor simplified for use with HITL.
  </description>
</model>
