<?xml version="1.0"?>

<model>
  <name>bumper_sensor</name>
  <version>1.0</version>
  <sdf version="1.5">bumper_sensor.sdf</sdf>

  <author>
    <name>Nico van Duijn</name>
    <email>nico@auterion.com</email>
  </author>

  <description>
    Bumper sensor to detect collisions
  </description>
</model>
