<?xml version="1.0"?>
<model>
  <name>Standard VTOL Camera</name>
  <version>1.0</version>
  <sdf version='1.4'>standard_vtol_cam.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jaeyoung@auterion.com</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane with camera.
  </description>
</model>
