<?xml version="1.0"?>
<model>
  <name>Standard VTOL with downward facing depth camera</name>
  <version>1.0</version>
  <sdf version='1.5'>vtol_downward_depth_camera.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    Standard VTOL with downward facing depth camera
  </description>
</model>
