<?xml version="1.0"?>
<model>
  <name>Standard VTOL HITL</name>
  <version>1.0</version>
  <sdf version='1.5'>standard_vtol_hitl.sdf</sdf>

  <author>
   <name>Benjamin Perseghetti</name>
   <email>bperseghetti@rudislabs.com</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane setup for HITL.
  </description>
</model>
