<?xml version="1.0"?>
<model>
  <name>uuv_hippocampus</name>
  <version>1.0</version>
  <sdf version='1.6'>uuv_hippocampus.sdf</sdf>

  <author>
   <name>Daniel Duecker</name>
   <email>daniel.duecker@tuhh.de</email>
  </author>
  <author>
   <name>Philipp Hastedt</name>
   <email>philipp.hastedt@tuhh.de</email>
  </author>
  <author>
   <name>Nils Rottmann</name>
   <email>Nils.Rottmann@tuhh.de</email>
  </author>

  <description>
    This is a model of a HippoCampus AUV from the Technical University Hamburg-Harburg (TUHH, Germany).
    https://www.tuhh.de/mum/forschung/forschungsgebiete-und-projekte/flow-field-estimation-with-a-swarm-of-auvs.html
  </description>
</model>
