<?xml version="1.0"?>
<model>
  <name>Cloudship</name>
  <version>1.0</version>
  <sdf version='1.5'>cloudship.sdf</sdf>

  <author>
   <name>Anton Erasmus</name>
   <email>anton@flycloudline.com</email>
  </author>

  <description>
    This is a model of the Cloudline LTA airship: Cloudship.
  </description>
</model>
