<?xml version="1.0"?>
<model>
  <name>Typhoon H480 Airsim</name>
  <version>1.0</version>
  <sdf version="1.5">typhoon_h480_airsim.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jalim@ethz.ch/email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon H480 with camera interfacing with Airsim
  </description>
</model>
