<?xml version="1.0"?>
<model>
  <name>3DR Iris</name>
  <version>1.0</version>
  <sdf version='1.4'>red_iris.sdf</sdf>

  <author>
   <name>Amy Wagoner, Lorenz Meier, and Thomas Gubler</name>
   <email>arwagoner@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor that is red instead of the standard black color. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
