<?xml version="1.0"?>
<model>
  <name>Dynamic Soaring</name>
  <version>1.0</version>
  <sdf version='1.5'>plane_dynamicsoaring.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jalim@ethz.ch</email>
  </author>

  <description>
    This is a model of a standard plane with the windshear plugin, that can be used for testing dynamic soaring.
  </description>
</model>
