<?xml version="1.0" ?>
<model>
    <name>vtol_foot</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Tiger Wu</name>
        <email>tiger871108@gmail.com</email>
    </author>

    <description>
      This is a supporting frame for standard_vtol.
    </description>
</model>
