<?xml version="1.0"?>
<model>
  <name>airflowsensor</name>
  <version>1.0</version>
  <sdf version='1.6'>airflowsensor.sdf</sdf>

  <author>
   <name>Henry Kotze</name>
   <email>henry@flycloudline.com</email>
  </author>

  <description>
    FT Technologies ultra sonic wind sensor model
  </description>
</model>
