<?xml version="1.0"?>
<model>
  <name>plane_lidar</name>
  <version>1.0</version>
  <sdf version='1.6'>plane_lidar.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jaeyoung@auterion.com</email>
  </author>

  <description>
    This is a model of a standard plane equipped with a lidar sensor
  </description>
</model>
