<?xml version="1.0"?>
<model>
  <name>tailsitter_cam</name>
  <version>1.0</version>
  <sdf version='1.4'>tailsitter_cam.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jaeyoung@auterion.com</email>
  </author>

  <description>
    This is a model of a tailsitter with a camera
  </description>
</model>
