<?xml version="1.0"?>
<model>
  <name>QuadTailsitter</name>
  <version>1.0</version>
  <sdf version='1.6'>quadtailsitter.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jalim@ethz.ch</email>
  </author>

  <description>
    This is a model of a quad tailsitter, modelling the Swan K1.
    Model provided by Holybro
  </description>
</model>
