<?xml version="1.0"?>
<model>
  <name>3DR Iris with 3 depth cameras</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_triple_depth_camera.sdf</sdf>
  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>
  <description>
    This is a model of the 3DR Iris Quadrotor with 3 depth cameras.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
