<?xml version="1.0"?>
<model>
  <name>Yuneec Typhoon</name>
  <version>1.0</version>
  <sdf version='1.4'>yuneec_typhoon.sdf</sdf>

  <author>
   <name>Lorenz Meier, John Hsu, Heling Gu</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon Quadrotor.
  </description>
</model>
