<?xml version="1.0"?>
<model>
  <name>Plane with external vision pose estimation</name>
  <version>1.0</version>
  <sdf version='1.4'>plane_vision.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jalim@ethz.ch</email>
  </author>

  <description>
    This is a model to test a fixedwing model with external vision estimation
  </description>
</model>
