<?xml version="1.0"?>
<model>
  <name>Skywalker X8</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <!-- Imported into PX4 by-->
    <name>Jan-Hendrik Ewers</name>
    <email>davidvanw@gmail.com</email>
    <!-- Originally created by 
            David van Wyk -->
  </author>

  <description>
    A model of the SkywalkerX8 blended wing-body UAV in ENU coordinates.
  </description>
</model>
