<?xml version="1.0"?>
<model>
  <name>Iris Control Allocation Model</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_ctrlalloc.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jalim@ethz.ch</email>
  </author>

  <description>
    This is a model for control allocation, that maps to the default iris model
  </description>
</model>
