<?xml version="1.0"?>
<model>
  <name>KTH 2D Spacecraft Simulator</name>
  <version>1.0</version>
  <sdf version='1.6'>2d_spacecraft.sdf</sdf>

  <author>
   <name>Pedro Roque and Sujet Phodapol</name>
   <email>padr@kth.se</email>
  </author>

  <description>
    This is a model of the KTH Space Robotics Laboratory free-flying 2D 
    Spacecraft Simulator platform.
  </description>
</model>
