<?xml version="1.0"?>
<model>
  <name>SicDrone SD5</name>
  <version>1.0</version>
  <sdf version='1.4'>sd5.sdf</sdf>

  <author>
   <name>SicTeam</name>
   <email>daks2@pdx.edu</email>
  </author>

  <description>
    This is a model of the SicDrone SD5. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
