<?xml version="1.0" ?>
<model>
    <name>Open UAS</name>
    <version>1.0</version>
    <sdf version="1.6">open_uas.sdf</sdf>
    <author>
        <name>Colton Glick</name>
        <email>crglick@iastate.edu</email>
    </author>
    <description>
        This is a model of the Open UAS plane.
    </description>
</model>
