<?xml version="1.0"?>

<model>
  <name>Central Iowa Aeromodelers Field</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Colton Glick</name>
    <email>crglick@iastate.edu</email>
  </author>

  <description>
    A model of the Central Iowa Aeromodelers airfield near Ames Iowa.
  </description>
</model>
