<?xml version="1.0"?>
<model>
  <name>Advanced Tailsitter</name>
  <version>1.0</version>
  <sdf version='1.6'>advanced_tailsitter.sdf</sdf>

  <author>
   <name>Chaoheng Meng</name>
   <email>chaohengmeng@163.com</email>
  </author>

  <description>
    This is a model of a tailsitter, which uses the advanced liftdrag plugin.
  </description>
</model>
