<?xml version="1.0"?>
<model>
  <name>glider</name>
  <version>1.0</version>
  <sdf version='1.5'>glider.sdf</sdf>
  <author>
   <name>Jaeyoung Lim</name>
   <email>jalim@ethz.ch</email>
  </author>
  <description>
    This is a model of a glider model, which is modified from the [standard plane](https://github.com/PX4/PX4-SITL_gazebo/tree/master/models/plane)
  </description>
</model>
