<?xml version="1.0"?>
<model>
  <name>Baby_k</name>
  <version>1.0</version>
  <sdf version='1.6'>baby_k.sdf</sdf>

  <author>
   <name>Salvatore Marcellini and Alessandro De Crescenzo</name>
   <email>salvatore.marcellini@unina.it</email>
  </author>

  <description>
    This is a model of the little koala tilting drone, also known as Leonardo 2.
  </description>
</model>
