<?xml version="1.0"?>
<model>
  <name>Believer</name>
  <version>1.0</version>
  <sdf version='1.6'>believer.sdf</sdf>

  <license>Apache 2.0</license>
  <url type="website">https://github.com/ethz-asl/rotors_simulator</url>
  <author email="pvechersky@gmail.com">Pavel Vechersky</author>

  <description>
    Techpod UAV model from ethz-asl/rotors_simulator generated into sdf for PX4/sitl_gazebo
  </description>
</model>
