<?xml version="1.0"?>
<model>
  <name>3DR Iris with external vision pose estimation</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_vision.sdf</sdf>

  <author>
   <name>Christoph Tobler</name>
   <email>toblech@ethz.ch</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with external vision pose estimation. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier. The external vision pose estimation has been created by Christoph Tobler
  </description>
</model>
