<?xml version="1.0"?>
<model>
  <name>3DR Iris with visual odometry</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_vision.sdf</sdf>

  <author>
   <name>Elia Tarasov</name>
   <email>elias.tarasov@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with visual odometry sensor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier. The sensor have been created by Elia Tarasov
  </description>
</model>
