<?xml version="1.0"?>
<model>
  <name>3DR Iris with a pendulum</name>
  <version>1.0</version>
  <sdf>iris_pendulum.sdf</sdf>

  <author>
   <name>Zifei Jiang</name>
   <email>zifei3@ualberta.ca</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a pendulum.
  </description>
</model>
