<?xml version="1.0"?>

<model>
  <name>rplidar</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>James Goppert</name>
    <email>jgoppert@dronecrew.com</email>
  </author>

  <description>
    rplidar: http://www.robotshop.com/en/rplidar-360-laser-scanner.html
  </description>
</model>

<!-- vim: set noet fenc= ff=unix sts=0 sw=2 ts=2 : -->
