<?xml version="1.0"?>

<model>
  <name>Water Level</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jaeyoung Lim</name>
    <email>jaeyoung@auterion.com</email>
  </author>

  <description>
    Water level visualizationA simple ground plane.
  </description>
</model>
