<?xml version="1.0"?>
<model>
  <name>3DR Iris with a foggy lidar measurement</name>
  <version>1.0</version>
  <sdf>iris_foggy_lidar.sdf</sdf>

  <author>
   <name>David Jablonski</name>
   <email>dayjaby@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a foggy lidar measurement.
  </description>
</model>
