<?xml version="1.0" ?>
<model>
    <name>Walls</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Marc Blöchlinger</name>
        <email>mbloechli@ethz.ch</email>
    </author>
    <description>Walls from the ViCon arena LEO C6 at ETH Zurich. Dimensions are within 0.5m accuracy.</description>
</model>