<?xml version="1.0"?>
<model>
  <name>DART Spacecraft Model</name>
  <version>1.0</version>
  <sdf version='1.6'>3d_spacecraft.sdf</sdf>

  <author>
   <name>Pedro Roque, extracted from NASA 3D Models. All rights belong ot NASA.</name>
   <email>padr@kth.se</email>
  </author>

  <description>
    This is a model of the DART Spacecraft.
  </description>
</model>
