<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="vtol_foot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.159817386673013 -4.70725866282038E-06 -0.056848091196648"
        rpy="0 0 0" />
      <mass
        value="4.62509439810511" />
      <inertia
        ixx="0.0851080694793081"
        ixy="-0.0776136304362421"
        ixz="0.018045983727146"
        iyy="0.246988791389169"
        iyz="0.0111390900038102"
        izz="0.303762648027791" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vtol_foot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.101960784313725 0.101960784313725 0.101960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vtol_foot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>