<?xml version="1.0"?>
<model>
  <name>PX4 Vision</name>
  <version>1.0</version>
  <sdf version='1.6'>px4vision_blind.sdf</sdf>

  <author>
   <name>Stone White</name>
   <email>stone@thone.io</email>
  </author>

  <description>
    This is a model of the Holybro PX4 Vision and will not enable vision features in parameters.
    For non-ROS environment and showcase usage.
  </description>
</model>
