<?xml version="1.0"?>

<model>
  <name>warehouse</name>
  <version>1.0</version>
  <sdf version="1.5">warehouse.sdf</sdf>

  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>

  <description>
    A model of a warehouse.
  </description>
</model>
