<?xml version="1.0"?>
<model>
  <name>3DR Iris with lidar and optical flow mockup</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_opt_flow_mockup.sdf</sdf>

  <author>
   <name>Kamil Ritz</name>
   <email>ka.ritz@hotmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with lidar and a mockup optical flow sensors. The mockup optical flow
    does not render images and is therefore suited to run faster than real time.
  </description>
</model>
