<?xml version="1.0"?>

<model>
  <name>Parachute Package</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Jaeyoung Lim</name>
    <email>jalim@ethz.ch</email>
  </author>
  
  <description>
    A package that has a parachute attached, so it can be dropped from a vehicle
  </description>

</model>
