<?xml version="1.0"?>
<model>
  <name>aion_robotics_r1_rover</name>
  <version>1.0</version>
  <sdf version='1.5'>r1_rover.sdf</sdf>
  <license>https://github.com/aionrobotics/aion_io/blob/master/LICENSE.txt</license>

  <author>
   <name>Nicholas Nunno</name>
  </author>

  <description>
    This is a model for the Aion robotics R1 ugv rover. The sdf file is adpated from [aion_io](https://github.com/aionrobotics/aion_io)
  </description>
</model>
