<?xml version="1.0"?>
<model>
  <name>peach_fa</name>
  <version>1.0</version>
  <sdf version='1.6'>peach_fa.sdf</sdf>

  <author>
   <name>Muhammad Arief Kurniawan</name>
   <email>495831@student.saxion.nl</email>
  </author>

  <maintenainer>
   <name>Ayham Alharbat</name>
   <email>a.alharbat@saxion.nl</email>
  </maintenainer>

  <description>
    This is a model of Peach, a Fully Actuated (FA) hexarotor. The tilt angle of the rotors is equal to 30 degrees around each arm axis.
  </description>
</model>
